@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&display=swap');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.body1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.main-h1 {
  font-size: 60px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0 45px;
}

.refresh {
  display: flex;
  gap: 12px;
  padding: 10px 0 36px 0;
  margin: 40px 0 0 0;
}

.add-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 20px;
}

.refresh-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: white;
  width: 80px;
  height: 30px;
  align-self: center;
}

.form-h2 {
  font-size: 40px;
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid black;
}

.score-ul {
  display: flex;
}

.score-li {
  list-style-type: none;
  padding: 2px;
}

.form-btn {
  width: 80px;
  height: 30px;
  font-weight: 600;
  background-color: white;
}
